.add-users {
    z-index: 150;
    position: absolute;
    background-color: #F4F4F4;
    border: 1px solid #EEEEEE;
    padding: 10px;
    box-shadow: 5px 2px 2px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    font-family: "Inter";
    font-size: 15px;
    border-radius: 16px;
    top: 50px;
    left: 10px;

    &__buttons {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        gap: 10px;

    }

    &__button {
        border: none;
        border-radius: 16px;
        width: 50px;

    }

    &__add {
        background-color: #89CFF0;
        border-radius: 16px;
    }

    &__close {
        background-color: #C6C6C6;
        border-radius: 16px;
    }

    &__search-input {
        padding: 5px;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    &__numbers-list {
        max-height: 250px;
        overflow-y: scroll;
    }

    &__number {
        cursor: pointer;
    }

    &__search-input {
        border: 1px solid #EEEEEE;
    }

}

.add-users__numbers-list {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.add-users__numbers-list::-webkit-scrollbar {
    display: none;
}