.album {
    width: 98%;
    border: 1px solid #e4e3e3;
    background-color: #fafafa;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 15px;
    &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 7px;
    }

    &__info-box {
        width: 35%;
        display: flex;
        align-items: center;
    }

    &__info-box-right {
        justify-content: end;
    }

    &__info-box-left {
        align-self: flex-start;
    }

    &__info-box-mid {
        justify-content: center;
    }

    &__icon {
        width: 50px;
        height: 50px;
    }

    &__title {
        margin-left: 15px;
        font-family: "Inter";
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__location {
        max-width: 180px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: "Inter";
        display: flex;
    }

    &__date {
        font-family: "Inter";
        margin-right: 10px;
        opacity: 0.7;
    }
}