.alert {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    color: white;
    border-radius: 5px;
    font-family: "Inter";
    top: 10%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
}

.error {
    background-color: #ff3333;
}

.success {
    background-color: green;
}