.header {
    margin-top: 20px;

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__logo {
        margin: 0 auto;
        cursor: pointer;
    }

    &__user {
        font-family: "Inter";
        font-weight: 800;
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
    }

    &__user-name {
        opacity: 0.5;
    }

    &__user-icon {
        cursor: pointer;
        width: 50px;
        height: 50px;
    }

    &__user-controls {
        position: absolute;
        right: -25px;
        font-family: "Inter";
        border: none;
    }

    &__user-exit {
        cursor: pointer;
    }

    &__user-controls-button {
        color: #FE6F6F;
        width: 100px;
    }
}