@font-face {
    font-family: FuturaPtMedium;
    src: url(fonts/FuturaPT-Medium.ttf);
}

@font-face {
    font-family: FuturaPtDemi;
    src: url(fonts/FuturaPT-Demi.ttf);
}

@font-face {
    font-family: FuturaPtHeavy;
    src: url(fonts/FuturaPT-Heavy.ttf);
}

@font-face {
    font-family: FuturaPtDefault;
    src: url(fonts/FuturaPT-Book.ttf);
}


@font-face {
    font-family: TerminaBold;
    src: url(fonts/TerminaBold.ttf)
}