.form-container {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 110;
    flex-direction: column;
}

.create-album {
    &__inner {
        background-color: white;
        padding: 20px;
        border-radius: 16px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__input {
        width: 420px;
        height: 40px;
        border: none;
        font-family: "Inter";
        color: #262626;
        font-size: 20px;
        padding-left: 13px;
        border: 1px solid #EEEEEE;
        border-radius: 8px;
        background-color: #F4F4F4;
    }

    &__button {
        margin-top: 10px;
        width: 420px;
        height: 50px;
        background-color: #30C;
        color: #FFF;
        font-family: "Inter";
        border: none;
        font-size: 22px;
        line-height: 15px;
        border-radius: 30px;
        margin-bottom: 30px;
    }

    &__button:disabled {
        opacity: 0.3;
    }

    &__close {
        width: 25px;
        height: 25px;
        cursor: pointer;
    }

    &__form-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__form-header {
        font-family: "Inter";
        font-size: 30px;
    }
}

@media (max-width:1024px) {
    .create-album {
        &__input {
            max-width: 345px;
            font-size: 16px;
        }

        &__button {
            width: 345px;
            font-size: 18px;
        }
    }
}

@media (max-width:400px) {
    .create-album {
        &__input {
            max-width: 260px;
            font-size: 16px;
        }

        &__button {
            width: 260px;
            font-size: 18px;
        }
    }
}